body {
  background-color: #A5DAE2;
  background-size: 120% auto;
  text-align: center;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  display: inline;
  font-size: 80px;
  text-align: center;
}

#reset, #start {
  margin: 10px;
}

#title {
  font-family: 'Bungee Shade', cursive;
  font-size: 90px;
  padding-bottom: 40px;
  margin-top: 80px;
}

.timetitle {
  padding-top: 25px;
}

button, h2 {
  padding: 0px 20px;
}

.alert-success {
  font-size: 30px;
}

#timer {
  margin: auto;
  padding: inherit;
}

#control-button {
  padding: 15px;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 28px;
  }

  .alert-success {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  #timetype {
    font-size: 32px;
  }

  #title {
    font-size: 52px;
  }
}
